.wrapper{
    min-height: 100vh;
    background-image: linear-gradient(rgb(242, 244, 255),rgb(251, 252, 255));
}

.btn-logout{ 
  color:white;
  font-weight: bold;
  margin: 2%;
  width: 95%; 
  background-color: #40415E !important; 
  margin-top:35%;
}

.btns {
  padding: 5px 20px 6px 20px;
  background-color: #566cd6 !important;   
  color: white;    
  height: 36px;
}

.mycustom input[type=text] {
  width: 100%;
  padding-right: 123px;
  color: #40415E;
}

.mycustom input[type=text] ::placeholder {
  color: #40415E;
  opacity: 50%;
}


.mycustom .input-group-prepend {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 4px;z-index:9;
}

.subtitles{
  font-weight: bold;
  font-size:larger;
}

.card{
  box-shadow: 0 1px 3px rgb(189, 189, 209), 0 1px 2px rgba(189, 189, 209);
  border-radius: 16px;
}

.input{
  color: #40415E; 
}

::placeholder {
  color: #40415E;
}

.user{
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.text{
color:white;
opacity: 50%; 
text-transform: none !important;
padding: 2%;
font-size: 12px;
}
 
.logo{ 
  width: 100%;
  height: 100%;
  padding: 2% 25% 2% 10%;
}

.avatar{
  width: 100%;
  height: 100%;
  padding: 5% 20% 0 20%;
}

.card-styled{
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
}

.card-link{
text-decoration:none;
color:black;
}

.card-link .active{
text-decoration:none
}

.sprite{
  width: 60%;
  height: 60%; 
}

.tarjeta{
  padding: 5% 3% 0 5%;
}
 
.shiny{
  width:'auto';
  float:'left';
  padding-left:0;
  margin-left:0;
}
 
 .navbar { 
  background-color: #566cd6 !important;
  color: #fff;
} 
.aside {
  background-color: #566cd6 !important;
}