.wrapper{
    min-height: 100vh;
    background-image: linear-gradient(rgb(242, 244, 255),rgb(251, 252, 255));
} 

.btn-logout{ 
  color:white;
  font-weight: bold; 
  background-color: rgb(255, 255, 255,0.20);   
  align-self: end;
  width: 100%; 
}
.divLogout{
  margin-top: 40%;
  padding: 5%;
}

.btns {
  padding: 5px 20px 6px 20px;
  background-color: #566cd6 !important;   
  color: white;    
  height: 36px;
}

.mycustom input[type=text] {
  width: 100%;
  padding-right: 123px;
  color: #40415E;
}

.mycustom input[type=text] ::placeholder {
  color: #40415E;
  opacity: 50%;
}

.mycustom .input-group-prepend {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 4px;z-index:9;
}

.subtitles{
  font-weight: bold;
  font-size:medium;
}

.card{
  box-shadow: 0 1px 3px rgb(189, 189, 209), 0 1px 2px rgba(189, 189, 209);
  border-radius: 16px;
}

.input{
  color: #40415E; 
}

::placeholder {
  color: #40415E;
}

.user{
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.text{
color:white;
opacity: 50%; 
text-transform: none !important;
padding: 2%;
font-size: 12px;
}
 
.logo{ 
  width: 100%;
  height: 100%;
  padding: 2% 25% 2% 10%;
}

.avatar{
  width: 100%;
  height: 100%;
  padding: 5% 20% 0 20%;
}

.card-styled{
  border-radius: 16px;
  box-shadow:  rgba(0.15, 255, 255, 255);
}

.card-link{
text-decoration:none;
color:black;
}

.card-link .active{
text-decoration:none
}

.sprite{
  width: 60%;
  height: 60%; 
}

.margen{
  padding: 8% 6% 0 6%;
}

.shiny{
  padding: 0 0 5% 1%;
}
 
 .navbar { 
  background-color: #566cd6 !important;
  color: #fff;
} 

.navbar .btn{
  align-items: flex-end;
} 

.aside {
  background-color: #566cd6 !important;
} 